@mixin button-size($padding-y, $padding-x, $font-size, $border-raduis) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-raduis;
}

@mixin button-style(
    $background,
    $border,
    $color,
    $hover-background: lighten($background, 7.5%),
    $hover-border: lighten($border, 10%),
    $hover-color: $color
) {
    color: $color;
    background: $background;
    border-color: $border;
    &:hover {
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-border;
    }
    &:focus,
    &.focus {
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-border;
    }
    &:disabled,
    &.disabled {
        color: $color;
        background: $background;
        border-color: $border;
    }
}

@mixin alert-layout($color) {
    background-color: lighten($color, 10%);
    border: 1.5px solid $color;
}

@mixin cross-pseudo-element($color) {
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotate(45deg);
        background-color: $color;
    }
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotate(-45deg);
        background-color: $color;
    }
}
